.Logo img {
  width: 60%;
}

.activeUnderLine {
  text-decoration: underline;
}

.nav-item:hover {
  text-decoration: underline;
}

.Info {
  background-color: var(--second-bg-color);
  margin-bottom: 20px;
  border-radius: 25px;
}
.Info h2 {
  margin-bottom: 0 !important;
}

.Services h5 {
  color: var(--second-bg-color);
  margin-bottom: 0 !important;
}

.Contact li {
  display: block;
}

.number {
  color: var(--main-bg-color);
}

.number:hover {
  color: var(--second-bg-color);
}

.email {
  color: var(--second-bg-color);
}

.Address h6 {
  color: #808080;
}

.imgContainer {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* .imgContainer:hover .image {
  opacity: 0.3;
}

.imgContainer:hover .middle {
  opacity: 1;
} */

.hoverText {
  color: white;
  background-color: var(--second-bg-color);
  border-radius: 25px;
  font-size: 16px;
  padding: 16px 32px;
}

.caption {
  background-color: var(--main-bg-color);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

hr.line {
  border: 2px solid #d4d4d4;
  border-radius: 25px;
}

.mainColor {
  color: var(--main-bg-color);
}

.secondColor {
  color: var(--second-bg-color);
}

.btn-secondColor {
  background-color: var(--second-bg-color);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.facebookLink {
  margin-top: 20px;
}

:root {
  --main-bg-color: #2057ac;
  --second-bg-color: #65a1d2;
}
