#masthead {
  background-image: url("../assests/main.jpeg");
  height: 100vh;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#Logo img {
  width: 50%;
}

#Licensed-Insured {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 20vh;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 60%;
}

.Info h2 {
  margin-bottom: 0 !important;
}

.Contact {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#aboutImg {
  padding: 0;
}

#description {
  margin: auto;
  margin-top: 5vh;
  vertical-align: middle;
}

#About {
  color: white;
  background-color: rgb(93, 0, 0);
}
#AboutButtons {
  margin-bottom: 10px;
}

.Margin {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.imgContainerServices {
  position: relative;
  width: 50%;
}

.ImageServices {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#QrCode {
  width: 70%;
}

.Caption {
  background-color: rgb(93, 0, 0);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#facebook {
  margin-top: 3vh;
}

.mainColor {
  color: var(--main-bg-color);
}

.secondColor {
  color: var(--second-bg-color);
}

.btn-secondColor {
  background-color: var(--second-bg-color);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

:root {
  --main-bg-color: #2057ac;
  --second-bg-color: #65a1d2;
}
